

## Pandas Homework<br>
### Chicken Ear Cells<br>

##### Importing the pandas module

In [7]:
import pandas as pd

##### Reading in data file, and observing structure

In [8]:
df = pd.read_csv(r"C:\Users\bgrisso\Downloads\heller_chicken_hair_cells_expression.csv")
df.head

<bound method NDFrame.head of           observations cell_type celltrails_state timepoint gene_symbol  \
0        A1_SF18101201       D1S               S6       16h        A1CF
1        A1_SF18101208        CS               S1       16h        A1CF
2        A1_SF18101212       D1T               S3       20h        A1CF
3        A1_SF18101225       D1S               S6       12h        A1CF
4        A1_SF18103121       D1T               S3       20h        A1CF
...                ...       ...              ...       ...         ...
4463503  H2_SF18101219       D2T               S4       20h        ZZZ3
4463504  H3_SF18101219       D1T               S3       20h        ZZZ3
4463505  H5_SF18101211       D2S               S5       20h        ZZZ3
4463506  H6_SF18101211       D1S               S6       20h        ZZZ3
4463507  H6_SF18101219       D2T               S4       20h        ZZZ3

         expression
0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
...             ...
4463503    0.000000
4463504    9.001211
4463505    6.195938
4463506    9.173127
4463507    3.462052

[4463508 rows x 6 columns]>

##### Printing out all the unique values from "celltrails_state"

In [9]:
df["celltrails_state"].unique()

array(['S6', 'S1', 'S3', 'S2', 'S5', 'S4'], dtype=object)

##### Printing dataframe that includes only gene "AGA" and cell type "CS"

In [16]:
df[
    (df["cell_type"]=="CS") & 
    (df["gene_symbol"]=="AGA")]

,observations,cell_type,celltrails_state,timepoint,gene_symbol,expression
99961,A1_SF18101208,CS,S1,16h,AGA,7.860094
99965,A10_SF18100504,CS,S1,0h,AGA,0.000000
99966,A10_SF18101201,CS,S1,16h,AGA,0.000000
99970,A11_SF18100502,CS,S1,0h,AGA,6.929436
99971,A11_SF18101201,CS,S1,16h,AGA,2.198494
...,...,...,...,...,...,...
100217,F9_SF18101201,CS,S1,16h,AGA,0.000000
100231,G3_SF18100502,CS,S1,0h,AGA,0.000000
100233,G5_SF18100501,CS,S1,0h,AGA,0.000000
100234,G5_SF18100502,CS,S1,0h,AGA,0.000000
100246,G8_SF18101211,CS,S1,20h,AGA,6.357728

##### Returning a count of how many DataFrame rows have expression > 0.0

In [34]:
(df["expression"] > 0).count()

4463508

##### Returning a count of how many DataFrame rows have expression > 0.0 only for gene "AGA" and cell type "CS"

In [43]:
df_filt = df[
    (df["cell_type"]=="CS") & 
    (df["gene_symbol"]=="AGA") &
    (df["expression"] > 0)
]

df_filt["observations"].count()

30

##### Expression Value of DataFrame row at index "211111"

In [57]:
df["expression"].iloc[211111]

8.230405