
## Pandas Homework 2<br>
### Chicken Ear Cells<br>

##### Importing the pandas module

In [15]:
import pandas as pd

##### Reading in data file

In [16]:
df = pd.read_csv(r"C:\Users\bgrisso\Downloads\heller_chicken_hair_cells_expression.csv")
df.head

<bound method NDFrame.head of           observations cell_type celltrails_state timepoint gene_symbol  \
0        A1_SF18101201       D1S               S6       16h        A1CF
1        A1_SF18101208        CS               S1       16h        A1CF
2        A1_SF18101212       D1T               S3       20h        A1CF
3        A1_SF18101225       D1S               S6       12h        A1CF
4        A1_SF18103121       D1T               S3       20h        A1CF
...                ...       ...              ...       ...         ...
4463503  H2_SF18101219       D2T               S4       20h        ZZZ3
4463504  H3_SF18101219       D1T               S3       20h        ZZZ3
4463505  H5_SF18101211       D2S               S5       20h        ZZZ3
4463506  H6_SF18101211       D1S               S6       20h        ZZZ3
4463507  H6_SF18101219       D2T               S4       20h        ZZZ3

         expression
0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
...             ...
4463503    0.000000
4463504    9.001211
4463505    6.195938
4463506    9.173127
4463507    3.462052

[4463508 rows x 6 columns]>

#### Printing max gene expr for "S6" celltrails state

In [17]:
df.loc[df["celltrails_state"] == "S6", ["expression"]].max()

expression    15.223591
dtype: float64

#### Printing the top 5 genes with the highest expression value for "D2S" cell type at timepoint 0h

In [34]:
gen_ex = df.loc[
    (df["cell_type"] == "D2S") & (df["timepoint"] == "0h"),
    ["gene_symbol", "expression"]
    ]
gen_ex

        gene_symbol  expression
78             A1CF         0.0
268            A1CF         0.0
372             A2M         0.0
562             A2M         0.0
666           A2ML1         0.0
...             ...         ...
4462894      ZYG11B         0.0
4462998         ZYX         0.0
4463188         ZYX         0.0
4463292        ZZZ3         0.0
4463482        ZZZ3         0.0

[30364 rows x 2 columns]

In [74]:
grouped = gen_ex.groupby("gene_symbol")
mean = grouped.mean().sort_values(ascending=False, by="expression")
mean.head(5)

             expression
gene_symbol
CALB1         14.637500
OCM           13.644239
GADL1         12.326830
MYO6          12.039385
TECTB         11.892781